@use "@styles/variables" as *;
@use "@styles/adaptive" as *;

.layout {
  max-width: 1440px;
  margin: 0 auto;
  min-height: var(--viewport-height);

  &__navbar {
    top: 0;

    @include breakpoint(s) {
      & {
        position: static;
      }
    }
  }
}