@use "@styles/mixins" as mixins;
@use "@styles/variables" as *;
@use "@styles/adaptive" as *;

.section {
  display: grid;
  width: 100%;
  grid-template-columns: 59.6% auto;
  gap: 11%;

  &__search {
    @include mixins.flex-center-y;

    justify-content: space-between;
    gap: $space-l;
  }
}

@include breakpoint(s) {
  .section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
