@use "@styles/variables" as *;
@use "@styles/mixins" as mixins;

.button {
  @include mixins.flex-center-y;
  @include mixins.button-no-style;

  justify-content: space-between;
  background-color: $brand;
  color: #ffff;
  padding: $space-s $space-l;
  transition: 0.2s;
  border-radius: $border-radius;

  &:hover {
    background-color: $brand-hover;
  }

  &-loading {
    &:hover {
      background-color: $brand;
    }
    &-disabled:disabled {
      background-color: $brand;
    }
  }

  &:active {
    background-color: $brand-hover;
  }

  &:disabled {
    background-color: $brand-disabled;
    cursor: default;

    &:hover {
      background-color: $brand-disabled;
    }
  }
}
